body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(27, 27, 27);
}

a {
  color: #ffc107;
  text-decoration: none;
}

a:hover {
  color: #ffce3a;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #f1f1f1;
}

/* Gumb za povratak na vrh */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #bd9009;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 35px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #d8a817;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Zaglavlje */

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  background: rgba(36, 36, 36, 0.9);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  background: rgba(29, 29, 29, 0.9);
  padding: 15px 0;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

/* Navigacijski Menu */
/* Desktop Navigacija */

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: bold;
}

.navbar a i, .navbar a:focus i {
  font-size: 15px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #ffc107;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/* Mobile Navigation */

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(29, 29, 29, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #252525;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
  color: #ffc107;
}

/* Hero */

#hero {
  width: 100%;
  height: 100vh;
  background: url("https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2022/04/12/1329/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.jpg/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.16x9.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(22, 22, 22, 0.774);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  text-align: center;
  padding-bottom: 70px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 0;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin: 15px 0 0 0;
  font-size: 22px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 9px 35px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 40px;
  border: 2px solid #ffc107;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #ffc107;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/* General */

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #313131;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc107;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 14px;
  color: #aab3c7;
}

/* O nama */

.onama h3 {
  font-weight: 700;
  font-size: 34px;
  color: #ffd24d;
}

.onama h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.onama i {
  font-size: 48px;
  margin-top: 15px;
  color: #dddddd;
}

.onama p {
  font-size: 18px;
  color: #dddddd;
}

/* Cta */

.cta {
  background: #293352;
  background-size: cover;
  padding: 50px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #ffc107;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #ffce3a;
}

/* Galerija */

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.portfolio p {
  color: #dddddd;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 18px 10px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #dddddd;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #fafafc;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #dddddd;
  background: #e2e2e0;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 500px;
  height: 300px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #6b6554;
  padding: 15px 20px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fafafa;
  font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 27px;
  font-size: 25px;
  top: calc(50% - 18px);
  color: #fafafa;
  transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item:hover img {
  top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

/* Galerija detalji */

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #ffc107;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffc107;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgb(255, 255, 255);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
  color: rgb(44, 44, 44);
}

/* Ponude */

.pricing .box1 {
  padding: 60px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(Slike/soba1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #9c7b0f;
}

.pricing .box2 {
  padding: 60px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(Slike/soba2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #9c7b0f;
}

.pricing .box3 {
  padding: 60px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(Slike/soba3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #9c7b0f;
}

.pricing .box4 {
  padding: 60px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(Slike/apartman.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #9c7b0f;
}

.pricing p {
  color: #dddddd;
  font-size: 15px;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.pricing h4 {
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
}

.pricing ul li {
  padding-bottom: 15px;
}

.pricing .btn-wrap {
  margin: 120px -20px -20px -20px;
  padding: 20px 15px;
  text-align: center;
}

.pricing .btn-buy {
  display: inline-block;
  background-color: #9c7b0fc2;
  padding: 10px 35px;
  transition: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  color: #ffffff;
}

.pricing .btn-buy:hover {
  background: rgba(255, 196, 0, 0.664);
}

/* Novi korisnik */

.wrapper {
  margin-left:auto;
  margin-right:auto;
  position: flex;
  width: 850px;
  background: transparent;
  background: #29335293;
  backdrop-filter: blur(60px);
  box-shadow: 0 0 80px rgb(0, 0, 0);
  color: #fff;
  border: 2px solid rgba(55, 66, 122, 0.2);
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper .form-control {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0; 
}

.form-group input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(46, 60, 116, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}

.wrapper .btn {
  margin-left:auto;
  margin-right:auto;
  width: 30%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 5px;
}

.wrapper .btn:hover {
  background-color: #ffce3a;
  transition: 0.7s;
}

/* Podnožje */

#footer {
  color: #ffffff;
  font-size: 15px;
  background: rgb(34, 34, 34);
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #e1e4ec;
  color: #36393f;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #ffce3a;
  text-decoration: none;
}